/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

/* Add this to your doctors.component.css file */
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .small-search {
    width: 250px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin for separation from the table */
  }
  

  #pageSize {
    width: 80px; /* Set the desired width */
  }  