<!-- doctors.component.html -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="title">Doctors List</h4>
              </div>
              <div class="col-md-3 text-right">
                <button mat-button class="btn btn-info fw-normal" (click)="CreateDoctor();">Add Doctor</button>
              </div>
              <div class="col-md-3">
                <div class="search-container">
                  <!-- Bind the input value to the searchValue property -->
                  <!-- Bind the input value to the searchValue property and update applyFilter method call -->
                  <input type="text" class="form-control small-search" placeholder="Search" (input)="applyFilter($event.target.value)">

                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table mat-table [dataSource]="dataSource" class="text-nowrap w-100" style="width: 100%;">

              <!-- ID Column -->
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell class="fw-medium" *matCellDef="let element"> {{ element.ID }} </td>
              </ng-container>

              <!-- Doctor Name Column -->
              <ng-container matColumnDef="doctor_name">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.doctor_name }} </td>
              </ng-container>

              <!-- Doctor Phone Column -->
              <ng-container matColumnDef="doctor_phone">
                <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{ element.doctor_phone }} </td>
              </ng-container>

              <!-- Doctor Consultation Charge -->
              <ng-container matColumnDef="entity_name">
                <th mat-header-cell *matHeaderCellDef> Entity Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.entity_name }} </td>
              </ng-container>

              <!-- Doctor Description -->
              <ng-container matColumnDef="department_name">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.department_name }} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editDoctor(element)">
                    <!-- <button mat-button class="btn btn-info fw-normal" (click)="editDoctor();">Edit</button> -->
                    <mat-icon color="primary">Edit</mat-icon> 
                  </button> 
                  <button mat-icon-button (click)="deleteDoctor(element)">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <!-- Custom pagination -->
          <mat-paginator [length]="Tcount"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)"
               aria-label="Select page"
               [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
